
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Prociono&display=swap');


/*Reseteamos los margenes que vienen predefinidos*/
*{
    font-family: "Playwrite GB S", cursive;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    }

h1{
    font-size: 5rem;
    text-align: center; /*esta prop es para centrar el contenido de las etiquetas*/
    padding-top: 20%;
}
h2{
    font-size: 2rem;
    text-align: center;
    padding-top: 25px;
}
/*Acá estamos utilizando un tamaño de fuente específico para esta clase*/
.fuente50px
{
    font-size: 55px;
}
h3{
    font-size: 30px;
}

/*Acá estamos editando los colores del contenido de cada sección*/

.colorPrincipal
{
    background-color: rgba(209, 123, 24, 0.801);
    color: white;
      /*De esta forma las anclas dentro del footer se ponen blancas y le quitamos el subrayado*/
      a{
        color: white;
        text-decoration:none;
    }
}

.colorSecundario
{
    background-color: #114753;
    color: white;
      /*De esta forma las anclas dentro del footer se ponen blancas y le quitamos el subrayado*/
      a{
        color: white;
        text-decoration:none;
    }
}
/*NAVEGACION EN EL HEADER*/
.header
{
    justify-content: space-between;
    align-items: center;
    position: sticky; /*De esta forma el header nos acompaña*/
    top: 0;
    z-index:1000; /*De esta forma le damos prioridad frente a otros elementos y no se sobrepisa al mover*/
    nav{
        flex-wrap: wrap;
        width:50%;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            li{
            a{
                text-decoration: none;
                color: black;
                font-size:45px;
            }

            }
           
    }
}
    };


   
.header{
   height: 15vh; 
}

header,footer
{
    display:flex;
    padding: 15px;
    padding-left: 10px;
    background-color: rgb(168, 95, 224);
    display:flex;
    img{
        width: 200px;
        border-radius: 50%;
    }
     /*De esta forma las listas dentro del footer no tienen circulitos*/
    ul{
        list-style:none;
    }
    p
    {
        font-size: 10px;
    }
    /*Acá cambiamos los colores y tamaños de los íconos*/
    .fa-whatsapp
    {
        color: #25d366;
        font-size: 64px;
        position: fixed; /*De esta forma hacemos que el icono nos acompañe, es necesario indicar EL LUGAR*/
        bottom: 20px;
        right:20px;
    }
    .fa-instagram
    {
        color: violet;
        font-size: 64px;
    }
}

.footer{
    display: flex;
    width: 100%;
    background-color: #333;
}


/*GALERIA*/
.galeriaGrid
{
    width: 90%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr; /* Acá le decimos que queremos dos columnas*/
    grid-template-rows: 1fr 1fr 1fr; /*Acá indicamos 4 filas*/
    grid-template-areas: "foto1 foto2"
                         "foto3 foto4"
                         "foto5 foto5";
    gap: 25px;
    justify-content: center;
    img{
        object-fit: cover; /* Asegura que la imagen se recorte en lugar de estirarse */
        border-radius: 10px; /* Opcional: bordes redondeados */
    }
}
    .hijo_1{
        grid-area: foto1;
        width: 100%;
        height: 100%;
    }
    .hijo_2{
        grid-area: foto2;
        width: 100%;
        height: 100%;
    }
    .hijo_3{
        grid-area: foto3;
        width: 100%;
        height: 100%;
    }
    .hijo_4{
        grid-area: foto4;
        width: 100%;
        height: 100%;
    }
    .hijo_5{
        grid-area: foto5;
        width: 100%;
        height: 100%;
    }



/*FOOTER CON FLEX*/
.itemsFooter
{
display:flex;
margin: 0 auto;
width: 90%;
align-items: center;
justify-content: space-around;
flex-direction: row;
text-align: justify;
font-size: 30px;
color: black;
a{
   color: black;
}

gap: 50px; 
}

/* De esta forma aplicamos un tipo de selector clasificador, solo a unos textos específicos*/

.fuenteNegrita
{
    font-weight: 700;
}


/* De esta forma cambiamos el tamaño de la fuente*/

.tamanioTreinta{
    font-size: 30px;
}


/*ABOUT CARITO SECCIÓN*/
.sobreMi{
    .contenedorSobreMi
    {
        margin-top:20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .sobreMiImagen{
            width: 50%;
            img{
                width:80%;
                border-radius: 50%;
            }
        }
        .sobreMiTexto{
            margin: 0 auto;
            width: 35%;
            p{
                line-height: 1.5;
                font-size:1.5rem;
            }

        }
    }

}
/* De esta forma agregamos la imagen ppal en el index*/
.principalIndex
{
    background-image: url("../assets/img/imagen\ de\ fondo.jpeg") ;
    height: 70vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   
    .contenedorTextoPrincipalIndex{
        z-index: 1002;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        text-align: center;
        width: 40%;
        font-size: 10px;
        backdrop-filter: blur;
        p{
            font-size: 3.5em;
        }
        a{
            display: inline-block;
            margin-top: 20px;
            color: white;
            text-decoration: none;
        }
    }
}


/*De esta forma hacemos el menú de mis cursos*/
.cursosDestacados {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    width:100%;
    display: flex;
    background-color: rgb(229, 164, 203);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px; /* Agrega un espacio entre cada elemento*/
    h3{
        border: 5px solid whitesmoke;
    }
    
}

.cursosDestacados .capacitacion {
    width: 100%;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;
    padding-top: 5px 10px;
    font-size: 3em;
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    margin-top: 50px; /* Espaciado extra */
    border-radius: 5px; /* Bordes redondeados */
}


.cursosDestacados .flex-item img {
    width: 350px;
    border-radius: 10px;
    flex-grow: 2;
}

