
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Prociono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Prociono&display=swap');

/*Reseteamos los margenes que vienen predefinidos*/
*{
    font-family: "Playfair Display", serif;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    }

body {
    font-size: 12px; /* Reduce el tamaño base un poco más */
    max-width: 100vw;
}

h1 {
    font-size: 2rem; /* Equivalente a 48px en pantallas grandes */
    text-align: center; /*esta prop es para centrar el contenido de las etiquetas*/
    padding-top: 10%;
}

h2 {
    font-size: 1.2rem; 
    text-align: center;
    padding-top: 15px;
}

h3 {
    font-size: 0.9rem; /* 24px */
}

@media screen and (max-width: 768px) {
    body {
        font-size: 9px; /* Reducimos el tamaño base */
    }

    h1 {
        font-size: 1rem; /* Tamaño reducido para móviles */
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }
}

/*Acá estamos editando los colores del contenido de cada sección*/

.colorPrincipal
{
    background-color: rgba(209, 123, 24, 0.801);
    color: white;
      /*De esta forma las anclas dentro del footer se ponen blancas y le quitamos el subrayado*/
      a{
        color: white;
        text-decoration:none;
    }
}

.colorSecundario
{
    background-color: #114753;
    color: white;
      /*De esta forma las anclas dentro del footer se ponen blancas y le quitamos el subrayado*/
      a{
        color: white;
        text-decoration:none;
    }
}
/*NAVEGACION EN EL HEADER*/
.header
{
    justify-content: space-between;
    align-items: center;
    position: sticky; /*De esta forma el header nos acompaña*/
    top: 0;
    z-index:1000; /*De esta forma le damos prioridad frente a otros elementos y no se sobrepisa al mover*/
    nav{
        flex-wrap: wrap;
        width:100%;
        ul{
            list-style: none;
            display: flex;
            justify-content: space-between;
            width: 100%;
            li{
            a{
                text-decoration: none;
                color: black;
                font-size:40px;
            }

            }
           
    }
}
    };


   
.header{
   height: 8vh; 
}

header,footer
{
    display:flex;
    padding: 10px;
    padding-left: 10px;
    background-color: rgb(168, 95, 224);
    display:flex;
    img{
        width: 150px;
        border-radius: 50%;
    }
     /*De esta forma las listas dentro del footer no tienen circulitos*/
    ul{
        list-style:none;
    }
    p
    {
        font-size: 10px;
    }
    /*Acá cambiamos los colores y tamaños de los íconos*/
    .fa-whatsapp
    {
        color: #25d366;
        font-size: 64px;
        position: fixed; /*De esta forma hacemos que el icono nos acompañe, es necesario indicar EL LUGAR*/
        bottom: 20px;
        right:20px;
    }
    .fa-instagram
    {
        color: violet;
        font-size: 64px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .ulHeader {
        flex-wrap: wrap; /* Permite que los elementos se acomoden en varias filas si es necesario */
        justify-content: center;
    }

    .linkHeader {
        font-size: 18px; /* Reduce el tamaño de la fuente */
        margin: 5px;     /* Ajusta el margen para evitar que se junten demasiado */
    }

    .logo {
        width: 150px; /* Ajusta el tamaño del logo si es necesario */
    }
}
/*GALERIA*/
.galeriaGrid
{
    width: 90%;
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr; /* Acá le decimos que queremos dos columnas*/
    grid-template-rows: 1fr 1fr 1fr; /*Acá indicamos 4 filas*/
    grid-template-areas: "foto1 foto2"
                         "foto3 foto4"
                         "foto5 foto5";
    gap: 25px;
    justify-content: center;
    img{
        object-fit: cover; /* Asegura que la imagen se recorte en lugar de estirarse */
        border-radius: 10px; /* Opcional: bordes redondeados */
    }
}
    .hijo_1{
        grid-area: foto1;
        width: 100%;
        height: 100%;
    }
    .hijo_2{
        grid-area: foto2;
        width: 100%;
        height: 100%;
    }
    .hijo_3{
        grid-area: foto3;
        width: 100%;
        height: 100%;
    }
    .hijo_4{
        grid-area: foto4;
        width: 100%;
        height: 100%;
    }
    .hijo_5{
        grid-area: foto5;
        width: 100%;
        height: 100%;
    }




/* De esta forma aplicamos un tipo de selector clasificador, solo a unos textos específicos*/

.fuenteNegrita
{
    font-weight: 700;
}


/* De esta forma cambiamos el tamaño de la fuente*/

.tamanioTreinta{
    font-size: 30px;
}


/*ABOUT CARITO SECCIÓN*/
  .sobreMi{
    text-align: center;
    padding: 20px;
    height: 60vh;
    .contenedorSobreMi{
        align-items: center;
        display:flex;
        height: 100%;
        .uno{
            width: 50%;
            .imagen{
                width: 80%;
                height: 80%;
                object-fit: cover;
                border-radius: 40%;
            }
        }
        .dos{
            width:50%;
        }
    }
  }
    
  @media screen and (max-width: 768px) {
    .ulHeader {
        font-size: 0.8em; /* Reducción del tamaño de la fuente */
    }
    .listaItem {
        margin: 0 5px; /* Espaciado más pequeño entre los elementos */
    }
}

/* De esta forma agregamos la imagen ppal en el index*/
.principalIndex
{
    background-image: url("../assets/img/imagen\ de\ fondo.jpeg") ;
    height: 70vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
   
    .contenedorTextoPrincipalIndex{
        z-index: 1002;
        margin: 0 auto;
        margin-top: 30px;
        border-radius: 5px;
        text-align: center;
        padding: 10px;
        text-align: center;
        width: 40%;
        font-size: 1.5rem;
        backdrop-filter: blur;
        p{
            font-size: 1.5em;
        }
        a{
            display: inline-block;
            margin-top: 20px;
            color: white;
            text-decoration: none;
        }
    }
}
@media screen and (max-width: 768px) {
    .principalIndex .contenedorTextoPrincipalIndex p {
        font-size: 1.2rem; /* Ajuste para móviles */
    }

    .cursosDestacados .capacitacion {
        font-size: 1.2rem;
    }
}

/*De esta forma hacemos el menú de mis cursos*/
.cursosDestacados {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    width:100%;
    display: flex;
    background-color: rgb(229, 164, 203);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px; /* Agrega un espacio entre cada elemento*/
    h3{
        border: 5px solid whitesmoke;
    }
    
}

.cursosDestacados .capacitacion {
    width: 100%;
    background-color: whitesmoke;
    display: inline-block;
    text-align: center;
    padding-top: 5px 10px;
    font-size: 2em;
    text-decoration: none;
    color: black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Sombra */
    margin-top: 50px; /* Espaciado extra */
    border-radius: 5px; /* Bordes redondeados */
}


.cursosDestacados .flex-item img {
    width: 350px;
    border-radius: 10px;
    flex-grow: 2;
}

@media screen and (max-width:768px)
{
    .cursosDestacados{
        justify-content: center;
        text-align: center;
        
    }
}


.footer{
    display: flex;
    height: 20vh;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgb(168, 95, 224);
    font-size: 0.9em;
    width: 100%;
    overflow-x: hidden;
    ul{
        list-style: none;
        a{
            text-decoration: none;
            font-size: 1.5em;
        }
        .fa-instagram{
            font-size: 3em;
        }
    }
    p{
        font-size: 1.5em;
    }
   
}

/* Media query para mejorar el responsive en el footer */
@media screen and (max-width: 768px){
    .footer
    {
        flex-direction: column; /*cambiamos el flex direction a columnas*/
        height: initial;
        align-items: start;
        row-gap: 20px; /*espacio */
        
    }
}

